{% if page.sidebar == "main_sidebar" %}
  {% assign sidebar = site.data.sidebars.main_sidebar.entries %}
  {% assign sidebar_pdf = site.data.sidebars.main_sidebar.entries %}
{% else %}
  {% assign sidebar = site.data.sidebars.main_sidebar.entries %}
  {% assign sidebar_pdf = site.data.sidebars.main_sidebar.entries %}
{% endif %}

{% if page.sidebar == "pydicom" %}
  {% assign sidebar = site.data.sidebars.pydicom.entries %}
  {% assign sidebar_pdf = site.data.sidebars.pydicom.entries %}
{% endif %}
